@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --gradient-primary: linear-gradient(45deg, #ff00ff, #00ffff);
  --dark-bg: #2b2a3d;
  --card-bg: rgba(255, 255, 255, 0.1);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-bg);
  color: white;
  font-family: "SF Pro Display", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

video {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: transparent;
}

.hero {
  text-align: center;
  margin: 20px;
  border-radius: 10px;
  padding: 2rem 2rem;
  background: linear-gradient(30deg, #1b0404, #121212);
  background-size: 100% 100%;
  font-family: "SF Pro Display", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-position: 0 0;
  animation: none !important;
  -webkit-animation: none !important;
  margin-bottom: 0;
}

.hero:before,
.hero:after {
  animation: none !important;
  -webkit-animation: none !important;
  background-size: 100% 100%;
  background-position: 0 0;
}

.hero h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  color: white;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cta-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0;
}

.cta-buttons button {
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: regualar;
}

.partners {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0;
  filter: grayscale(1);
  opacity: 0.7;
}

.features {
  padding: 4rem 2rem;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  */
  /* gap: 2rem; */
}

.feature-card {
  /* background: var(--card-bg); */
  margin: 0 40px;
  padding: 0 1rem;
  margin-bottom: 40px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.feature-card h3 {
  font-size: 25px;
  text-align: center;
}

.feature-card p {
  font-size: 15px;
  text-align: center;
  padding: 0 20px;
}

.feature-image {
  margin-top: 1rem;
  height: 200px;
  background: var(--gradient-primary);
  border-radius: 8px;
  opacity: 0.8;
}

.benefits {
  padding: 4rem 2rem;
  text-align: center;
}

.benefit-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.benefit-card {
  background: var(--card-bg);
  padding: 2rem;
  border-radius: 12px;
  backdrop-filter: blur(10px);
}

.icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 1rem;
  background: var(--gradient-primary);
  border-radius: 12px;
}

footer {
  text-align: center;
  padding: 2rem;
  margin-top: 4rem;
  background: var(--card-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
.subtitle {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.logo {
  display: flex;
  align-items: centre;
}

.logo img {
  mix-blend-mode: lighten;
  height: 20px;
  width: auto;
  object-fit: contain;
  margin: 0;
  padding: 0;
}

nav ul li a {
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: #e3e3e3;
}

.contact-us-button,
.book-demo-button {
  background-color: #ffffff; /* White */
  border: none;
  color: rgb(0, 0, 0);
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}

.book-demo-button {
  font-weight: 100000;
  border: 1px;
  padding: 10px;
}
.nav-link a {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.nav-link a:hover {
  color: #dbe0db;
}

.video-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: 12px;
  backdrop-filter: blur(10px);
}

.switch-language-button-container {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 38px;
  width: fit-content;
  align-items: center;
  margin: auto;
  gap: 6px;
  border-radius: 9999px;
  background-color: rgb(255, 255, 255);
  padding: 6px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 20px 0px;
  line-height: 23.8px;
  font-family: __Waldenburg_379714, __Waldenburg_Fallback_379714;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: normal;
}

.flag-img-container,
.play-pause-button {
  height: 40px;
  width: 40px;
  padding-top: 3px;
  padding: 0 6px;
  border: 0px;
  border-radius: 9999px;
  background-color: #edd3e1;
  opacity: 1;
  color: rgb(118, 118, 118);
  cursor: pointer;
}
.play-pause-button {
  color: rgb(255, 255, 255);
  background-color: #080808;
}
.active-flag {
  background-color: #080808;
}
.greater-than-sign {
  color: #080808;
}

.feature-image {
  margin-top: 1rem;
  height: 200px;
  background: var(--gradient-primary);
  border-radius: 8px;
  opacity: 0.8;
}
.pause-sign {
  display: none;
}
.play-sign {
  display: block;
}
